<p>
    <mat-toolbar color="primary">
        <span>ToDo App</span>
        <span class="spacer"></span>

        <span class="username">{{username}}</span>

        <button (click)="logout()" mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>logout</mat-icon>
            SAIR
        </button>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
    </mat-toolbar>
</p>